OPENCLASH_SUBSCRIPTION_URL=https://example.com/subscription.yaml
OPENCLASH_MIXED_PORT=9981
OPENCLASH_CONTROLLER_PORT=9097
OPENCLASH_LOG_LEVEL=warning
OPENCLASH_UI_PATH=/openclash/
OPENCLASH_UI_DIR=/var/lib/openclash/ui
OPENCLASH_STATE_DIR=/var/lib/openclash
OPENCLASH_AUTO_UPDATE_UI=false
OPENCLASH_BUILD_ALPINE_REPO=https://dl-cdn.alpinelinux.org/alpine
OPENCLASH_BUILD_METACUBEXD_URL=https://codeload.github.com/MetaCubeX/metacubexd/tar.gz/gh-pages
